<%= turbo_stream.replace "profile_#{@profile.id}" do %>
  <div class="list-group-item" id="profile_<%= @profile.id %>">
    <div class="d-flex justify-content-between align-items-center">
      <div>
        <%= @profile.name %>
      </div>
      <div class="d-flex align-items-center gap-3">
        <%= render "profiles/line_status", profile: @profile %>
        <% if @profile.active %>
          <i class="fa-solid fa-check text-cGreen"></i>
        <% else %>
          <i class="fa-solid fa-x text-cRed"></i>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
