<div>
  <h1>Funcionários</h1>
  <div class="list-group list_group_custom">
    <% Profile.where(company: current_user.profiles.first.company).each do |profile| %>
      <a href="<%= edit_profile_path(profile) %>" class="list-group-item"><%= profile.name %></a>
    <% end %>
  </div>
</div>
