// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$c-black: #0E131F;
$c-yellow: #F6AE2D;
$c-white: #FFFFFF;
$c-blue: #1C6E8C;
$c-green: #00A9A5;
$c-dark-gray: #435361;
