// Specific CSS for your home-page
body {
  background-color: $c-black;
  color: $c-white
}

.font-home {
  font-family: 'Roboto', sans-serif;
}

.home-up{
  padding: 80px 0 50px 0;
}

.home-section {
  width:100%;
  min-height:100vh;
  position: relative;
}


#bg_lamp {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

#bg_lamp svg {
  width: 100%;
  height: 100%;
  object-position: center;
}


#svg_timetouch {
 flex: 1 1 auto;
}

#svg_timetouch svg {
  height: 100%;
  width: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#section_2 {
  opacity: 0;
  transform: translateY(50px);
  transition: none;
}


.desafios {
  background-color: #FFD38D;
  border-radius: 60px;
  padding: 40px;
  color: black;
  text-align: center;
  font-size: 18px;
  opacity: 0;
}
