.line-btn-sm{
    display:flex;
    align-items:center;
    gap:6px;
    color:#a3a3a3;
    font-size:.82rem;
    font-weight:700;

    transition:.2s;

    &:hover{
        color:$c-green;
    }
}

.grid-text{
  font-size:.82rem;
  font-weight:700;
}

.btn-copiar{
  display:flex;
    align-items:center;
    gap:6px;
    color:$c-blue;
    font-size:.82rem;
    font-weight:700;

    transition:.2s;

    &:hover{
        color:$c-blue;
    }
}
