.day-circle {
  width:20px;
  height:20px;
  top:0px;
  left:-7px;
  background-color:transparent;
  border-style:solid;
  border-color:$c-yellow;
  border-width:2px;
}

.card {
  background-color: $c-dark-gray;
  border-radius: 16px;
  width: 100%;
  padding:16px;
}

.day {
  font-size:12px;
}

.btn-period:has(input[type="radio"]:checked) {
  background-color: #000000;
  color: white;
  border-color:black
}

// .btn-period:has(input[value="1"]:checked) {
//   background-color: #F6AE2D;
// }

// .btn-period:has(input[value="2"]:checked) {
//   background-color: #142046;
// }
