<% if schedules.nil? || schedules.empty? %>
  <p>Nenhum registro nesse dia.</p>
<% else %>
  <% schedules.each do |schedule| %>
    <div class="card text-cWhite mb-3">
      <span class="fw-bold text-cYellow"><%= schedule.gemba.name %></span>
      <% schedule.profile_names.each do |name| %>
        <span><%= name %></span>
      <% end %>
    </div>
  <% end %>
<% end %>
