<% if schedules.any? %>
  <% schedules.each do |schedule| %>
    <div class="card text-cWhite mb-3">
      <span class="fw-bold text-cYellow"><%= schedule.date.strftime("%d/%m/%Y") %></span>
      <span><%= schedule.profile.name %></span>
      <span><%= schedule.gemba.name %></span>
    </div>
  <% end %>
<% else %>
  <p>Nenhum registro nesse dia.</p>
<% end %>
