<h1>Importar Dados</h1>
<p>Selecione um arquivo e importe os dados para o sistema.</p>
<hr>
<h2>Importar Usuários do CSV</h2>
<%= simple_form_for :data_import, url: data_import_users_path, html: { multipart: true } do |f| %>
  <%= f.input :file, as: :file, required: true, label: "Arquivo CSV" %>
  <%= f.input :company_id,
              as: :select,
              collection: Company.all.order(:name),
              label_method: :name,
              value_method: :id,
              prompt: "Selecione uma empresa",
              label: "Empresa",
              required: true %>
  <%= f.button :submit, "Importar Usuários", class: "btn btn-cYellow w-100" %>
<% end %>
