.flip-card {
  max-height: fit-content;
  perspective: 1000px;
  cursor: pointer;
  height: 110px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card.is-flipped .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 12px;
  padding: 16px;
}

.flip-card-front {
  background-color: $c-dark-gray;
}

.flip-card-back {
  background-color: $c-dark-gray;
  transform: rotateY(180deg);
}
