.highlight {
  border-bottom-color: #f6b02d !important;
  border-bottom-width: 2px !important;
  border-bottom-style: solid !important;
}

.scheduled-date{
  color: #1C6E8C;
  font-weight: bold;
}

.bg-highlight {
  background-color: #FFF3CD !important;
}

.bg-past-schedule {
  background-color: #ffcdcd !important;
}
