.highlight {
  border-bottom-color: #f6b02d !important;
  border-bottom-width: 2px !important;
  border-bottom-style: solid !important;
}

.scheduled-date{
  color: #1C6E8C;
  font-weight: bold;
}

.bg-scheduled-day {
  background-color: #FFF3CD !important;
}

.bg-scheduled-night {
  background-color: #232c33 !important;
}

.bg-scheduled-daynight {
background: linear-gradient(90deg,rgba(255, 243, 205, 1) 65%, rgba(56, 44, 44, 1) 100%);
}

.bg-highlight {
  background-color: #FFF3CD !important;
}

.bg-past-schedule {
  background-color: #ffcdcd !important;
}
